Repository hidoo/gulp-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "**/*.js": ["eslint"],
  "**/*.{js,json,ts,css,scss,md,html,yml,yaml}": ["prettier --write"]
}

test(generator): fix proccess to replace of versions and remove unnecessary log
  packages/gulp-project-generator/test/generatePackageJson.test.js
Due: eslint, prettier --write

chore(release): publish v1.0.0-alpha.0
  CHANGELOG.md
  lerna.json
  packages/gulp-plugin-image-evenizer/CHANGELOG.md
  packages/gulp-plugin-image-evenizer/package.json
  packages/gulp-plugin-image-placeholder/CHANGELOG.md
  packages/gulp-plugin-image-placeholder/package.json
  packages/gulp-plugin-svg-sprite/CHANGELOG.md
  packages/gulp-plugin-svg-sprite/package.json
  packages/gulp-plugin-webp/CHANGELOG.md
  packages/gulp-plugin-webp/package.json
  packages/gulp-project-generator/CHANGELOG.md
  packages/gulp-project-generator/package.json
  packages/gulp-project-generator/template/package.json
  packages/gulp-task-build-css-sass/CHANGELOG.md
  packages/gulp-task-build-css-sass/package.json
  packages/gulp-task-build-css-stylus/CHANGELOG.md
  packages/gulp-task-build-css-stylus/package.json
  packages/gulp-task-build-html-handlebars/CHANGELOG.md
  packages/gulp-task-build-html-handlebars/package.json
  packages/gulp-task-build-js-browserify/CHANGELOG.md
  packages/gulp-task-build-js-browserify/package.json
  packages/gulp-task-build-js-rollup/CHANGELOG.md
  packages/gulp-task-build-js-rollup/package.json
  packages/gulp-task-build-sprite-image/CHANGELOG.md
  packages/gulp-task-build-sprite-image/package.json
  packages/gulp-task-build-sprite-svg/CHANGELOG.md
  packages/gulp-task-build-sprite-svg/package.json
  packages/gulp-task-build-styleguide-kss/CHANGELOG.md
  packages/gulp-task-build-styleguide-kss/package.json
  packages/gulp-task-concat/CHANGELOG.md
  packages/gulp-task-concat/package.json
  packages/gulp-task-copy/CHANGELOG.md
  packages/gulp-task-copy/package.json
  packages/gulp-task-optimize-image/CHANGELOG.md
  packages/gulp-task-optimize-image/package.json
  packages/gulp-util-error-handler/CHANGELOG.md
  packages/gulp-util-error-handler/package.json
Due: prettier --write

chore(generator): replace dependency npm-run-all with npm-run-all2 5.0.0
  packages/gulp-project-generator/src/generatePackageJson.js
  packages/gulp-project-generator/test/fixtures/expected/pkg-conventional-commits.json
  packages/gulp-project-generator/test/fixtures/expected/pkg-sass.json
  packages/gulp-project-generator/test/fixtures/expected/pkg.json
Due: eslint, prettier --write

chore(renovate): update config
  renovate.json
Due: prettier --write

chore(renovate): remove group:allNonMajor
  renovate.json
Due: prettier --write

chore(renovate): tweaks package rules
  renovate.json
Due: prettier --write

chore(renovate): update package rules to disable auto merge of some packages
  renovate.json
Due: prettier --write

refactor: use git hooks directly instead of husky
  .githooks/commit-msg
  .githooks/pre-commit
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  examples/multi-device/.gitattributes
  examples/multi-device/.githooks/pre-commit
  examples/multi-device/package.json
  examples/single-device/.gitattributes
  examples/single-device/.githooks/pre-commit
  examples/single-device/package.json
  examples/use-sass/.gitattributes
  examples/use-sass/.githooks/pre-commit
  examples/use-sass/package.json
  package.json
  packages/gulp-project-generator/src/generateDotFiles.js
  packages/gulp-project-generator/src/generatePackageJson.js
  packages/gulp-project-generator/template/.gitattributes.hbs
  packages/gulp-project-generator/template/.githooks-commit-msg.hbs
  packages/gulp-project-generator/template/.githooks-pre-commit.hbs
  packages/gulp-project-generator/template/.husky-commit-msg.hbs
  packages/gulp-project-generator/template/package.json
  packages/gulp-project-generator/test/fixtures/expected/.gitattributes
  packages/gulp-project-generator/test/fixtures/expected/.gitattributes-conventional-commits
  packages/gulp-project-generator/test/fixtures/expected/.gitattributes-sass
  packages/gulp-project-generator/test/fixtures/expected/.githooks-commit-msg
  packages/gulp-project-generator/test/fixtures/expected/.githooks-pre-commit
  packages/gulp-project-generator/test/fixtures/expected/.husky-commit-msg
  packages/gulp-project-generator/test/fixtures/expected/pkg-conventional-commits.json
  packages/gulp-project-generator/test/fixtures/expected/pkg-sass.json
  packages/gulp-project-generator/test/fixtures/expected/pkg.json
  packages/gulp-project-generator/test/generateDotFiles.test.js
  pnpm-lock.yaml
  renovate.json
Due: eslint, prettier --write

ci(github): add event called when push to main branch
  .github/workflows/test.yml
Due: prettier --write

chore(renovate): migrate to shareable config
  renovate.json
Due: prettier --write

fix(build-css-sass): change postcss plugins to configure directly except autoprefixer, cssmqpacker
  packages/gulp-task-build-css-sass/package.json
  packages/gulp-task-build-css-sass/src/configurePlugins.js
  packages/gulp-task-build-css-sass/src/index.js
  packages/gulp-task-build-css-sass/test/.browserslistrc
  packages/gulp-task-build-css-sass/test/configurePlugins.test.js
  packages/gulp-task-build-css-sass/test/fixtures/expected/main.url-not-set.css
  packages/gulp-task-build-css-sass/test/fixtures/expected/main.url-options.css
  packages/gulp-task-build-css-sass/test/index.test.js
  pnpm-lock.yaml
Due: eslint, prettier --write

fix(build-css-sass): migrate from legacy api
  packages/gulp-task-build-css-sass/package.json
  packages/gulp-task-build-css-sass/src/configurePlugins.js
  packages/gulp-task-build-css-sass/src/functions.js
  packages/gulp-task-build-css-sass/src/importers.js
  packages/gulp-task-build-css-sass/src/index.js
  packages/gulp-task-build-css-sass/src/log.js
  packages/gulp-task-build-css-sass/src/plugins.js
  packages/gulp-task-build-css-sass/test/functions.test.js
  packages/gulp-task-build-css-sass/test/index.test.js
  packages/gulp-task-build-css-sass/test/plugins.test.js
Due: eslint, prettier --write

test(build-css-sass): fix test case for browserslist integration
  packages/gulp-task-build-css-sass/test/fixtures/expected/.browserslistrc
  packages/gulp-task-build-css-sass/test/index.test.js
Due: eslint, prettier --write

feat(build-css-sass): add sourcemap support and rewrite sass process as internal plugin
  packages/gulp-task-build-css-sass/package.json
  packages/gulp-task-build-css-sass/src/index.js
  packages/gulp-task-build-css-sass/src/plugins.js
  packages/gulp-task-build-css-sass/test/fixtures/expected/main.sourcemap.css
  packages/gulp-task-build-css-sass/test/importers.test.js
  packages/gulp-task-build-css-sass/test/index.test.js
  packages/gulp-task-build-css-sass/test/log.test.js
  pnpm-lock.yaml
Due: eslint, prettier --write

feat: add gulp-plugin-compress
  packages/gulp-plugin-compress/.mocharc.json
  packages/gulp-plugin-compress/LICENSE
  packages/gulp-plugin-compress/README.md
  packages/gulp-plugin-compress/package.json
  packages/gulp-plugin-compress/src/index.js
  packages/gulp-plugin-compress/test/fixtures/src/example-html.html
  packages/gulp-plugin-compress/test/fixtures/src/example-txt.txt
  packages/gulp-plugin-compress/test/index.test.js
  pnpm-lock.yaml
Due: eslint, prettier --write

feat(plugin-compress): implement options.targetExtnames
  packages/gulp-plugin-compress/src/index.js
  packages/gulp-plugin-compress/test/index.test.js
Due: eslint, prettier --write

fix!: use @hidoo/gulp-plugin-compress instead of gulp-gzip
  packages/gulp-task-build-css-sass/package.json
  packages/gulp-task-build-css-sass/src/index.js
  packages/gulp-task-build-css-sass/test/index.test.js
  packages/gulp-task-build-css-stylus/package.json
  packages/gulp-task-build-css-stylus/src/index.js
  packages/gulp-task-build-html-handlebars/src/index.js
  packages/gulp-task-build-js-browserify/package.json
  packages/gulp-task-build-js-browserify/src/index.js
  packages/gulp-task-build-js-browserify/test/index.test.js
  packages/gulp-task-build-js-rollup/package.json
  packages/gulp-task-build-js-rollup/src/index.js
  packages/gulp-task-build-js-rollup/test/index.test.js
  packages/gulp-task-build-sprite-image/src/index.js
  packages/gulp-task-build-sprite-image/test/index.test.js
  packages/gulp-task-build-sprite-svg/package.json
  packages/gulp-task-build-sprite-svg/src/index.js
  packages/gulp-task-build-sprite-svg/test/index.test.js
  packages/gulp-task-concat/package.json
  packages/gulp-task-concat/src/index.js
  packages/gulp-task-optimize-image/package.json
  packages/gulp-task-optimize-image/src/index.js
  pnpm-lock.yaml
Due: eslint, prettier --write

chore(build-css-sass): remove unused file
  packages/gulp-task-build-css-sass/test/fixtures/expected/main.min.css.gz
Due: none

docs(readme): add @hidoo/gulp-plugin-compress to package section
  README.md
Due: prettier --write

fix(build-html-handlebars): change to use fromFilesSync of @hidoo/data-from
  packages/gulp-task-build-html-handlebars/src/index.js
Due: eslint, prettier --write

chore(build-html-handlebars): fix typos
  packages/gulp-task-build-html-handlebars/src/index.js
Due: eslint, prettier --write

fix(build-styleguide-kss): fix to load default helpers with dynamic import
  packages/gulp-task-build-styleguide-kss/builder/builder.js
Due: eslint, prettier --write

test(build-styleguide-kss): rewrite to async tests
  packages/gulp-task-build-styleguide-kss/test/index.test.js
Due: eslint, prettier --write

style(build-stylebuide-kss): apply prettier to builder files
  .prettierignore
  packages/gulp-task-build-styleguide-kss/builder/kss-assets/kss.css
  packages/gulp-task-build-styleguide-kss/builder/kss-assets/kss.js
  packages/gulp-task-build-styleguide-kss/builder/kss-assets/kss.less
Due: eslint, prettier --write

fix(generator): change to use register function to load default helpers
  packages/gulp-project-generator/src/render.js
Due: eslint, prettier --write

fix(build-html-handlebars): change to use register function to load default helpers
  packages/gulp-task-build-html-handlebars/src/index.js
Due: eslint, prettier --write

fix(generator): fix default import issue of @hidoo/express-engine-handlebars
  examples/multi-device/src/server/app.js
  examples/single-device/src/server/app.js
  examples/use-sass/src/server/app.js
  packages/gulp-project-generator/template/src/server/app.js
Due: eslint, prettier --write

fix: migrate deprecated handlebars helpers
  examples/multi-device/src/html/desktop/page-list.hbs
  examples/multi-device/src/html/mobile/page-list.hbs
  examples/single-device/src/html/pages/page-list.hbs
  examples/use-sass/src/html/pages/page-list.hbs
  packages/gulp-project-generator/template/.editorconfig.hbs
  packages/gulp-project-generator/template/.gitattributes.hbs
  packages/gulp-project-generator/template/.gitignore.hbs
  packages/gulp-project-generator/template/.lintstagedrc.json.hbs
  packages/gulp-project-generator/template/src/css/README.md.hbs
  packages/gulp-project-generator/template/src/html/pages/page-list.hbs
  packages/gulp-project-generator/template/task/css.js.hbs
  packages/gulp-project-generator/template/task/js.js.hbs
  packages/gulp-project-generator/template/task/sprite.js.hbs
  packages/gulp-project-generator/template/task/styleguide.js.hbs
Due: none

chore(scripts): add version up to prerelease
  package.json
Due: prettier --write

chore(deps): update dependency @hidoo/stylelint-config to v1
  examples/use-sass/package.json
  packages/gulp-project-generator/template/package.json
  packages/gulp-project-generator/test/fixtures/expected/pkg-sass.json
  pnpm-lock.yaml
Due: prettier --write

fix(generator): update template for stylelintrc
  examples/use-sass/.stylelintrc.json
  packages/gulp-project-generator/template/.stylelintrc.json.hbs
  packages/gulp-project-generator/test/fixtures/expected/.stylelintrc-main.json
Due: prettier --write

test(build-css-sass): tweaks sourcemap output in fixture
  packages/gulp-task-build-css-sass/test/fixtures/expected/main.sourcemap.css
Due: prettier --write

fix(build-sprite-image): support for changing default stream encoding
  packages/gulp-task-build-sprite-image/package.json
  packages/gulp-task-build-sprite-image/src/index.js
  packages/gulp-task-build-sprite-image/test/index.test.js
  pnpm-lock.yaml
Due: eslint, prettier --write

fix(build-optimize-image): support for changing default stream encoding
  packages/gulp-task-optimize-image/package.json
  packages/gulp-task-optimize-image/src/index.js
Due: eslint, prettier --write

fix(copy): support for changing default stream encoding
  packages/gulp-task-copy/src/index.js
  packages/gulp-task-copy/test/index.test.js
Due: eslint, prettier --write

fix(build-css-sass): change to use createFileImporter of @hidoo/sass-importer
  packages/gulp-task-build-css-sass/src/importers.js
  packages/gulp-task-build-css-sass/src/index.js
  packages/gulp-task-build-css-sass/test/importers.test.js
Due: eslint, prettier --write

test(plugin-compress): change to ignore order of output files
  packages/gulp-plugin-compress/test/index.test.js
Due: eslint, prettier --write
